@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
  font-family: 'Courier New', Courier, monospace; 
}

.health-bar-fill {
  transition: width 0.5s ease-out, background-color 0.3s;
}
